.svg3 {
  width: 311.5px;
  height: 332px;
  top: 130.5px;
  left: 220.5px;
  border: 1px;
  position: absolute;
}

.svg2 {
  width: 300px;
  height: 322px;
  top: 23.5px;
  border: 1px;
  position: absolute;
}
